$primary: #131017 !default;
$dark: darken($primary, 15%) !default;
$link-color: #007bff;
$yugabyte_dark: #131017;
$yugabyte_orange: #FF5F3A;
$yugabyte_white: #F5F5F7;
$yugabyte_gray: #6E6E7A;
$yugabyte_blue: #735AF4;
@import 'node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

[v-cloak] {
  display: none;
}

// .link-gray {
//   color: $text-muted;

//   &:hover {
//     color: $yugabyte_blue;
//   }
// }

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  padding-top: 0.3rem;
  background-color: $yugabyte_dark;
  color: $yugabyte_white;
  height: 100%;  // Change to 100vh to make sure body takes full viewport height
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;  // Add this to prevent footer from shrinking
  flex-grow: 0;  // Add this to prevent footer from growing
  margin-top: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0%;
  color: $yugabyte_white;
  background-color: $primary;
}

label {
  color: #FFFFFF;
}

a {
  color: $yugabyte_blue;

  &:hover {
    color: $yugabyte_orange;
    text-decoration: none;
  }
}

em {
  font-style: italic;
  color: #E83E8B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn-primary {
  background-color: $yugabyte_white;
  color: $yugabyte_dark;
}

.btn-primary:hover {
  background-color: $yugabyte_orange;
  color: $yugabyte_dark;
}

.form-control {
  background-color: $yugabyte_dark;
  color: $yugabyte_white;
  border-color: $yugabyte_gray;

  &:focus {
    background-color: $yugabyte_dark;
    color: $yugabyte_white;
    border-color: $yugabyte_orange;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
  }
}

.fa-heart {
  color: $yugabyte_orange;
}

.content {
  flex: 1 0 auto;
}

.navbar {
  color: $yugabyte_white;
}

.list-group-item {
  background-color: lighten($yugabyte_dark, 5%);
  color: $yugabyte_white;
}

.plan-card {
  background-color: lighten($yugabyte_dark, 5%);
  color: $yugabyte_white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 18rem;
  height: 4rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    background-color: $yugabyte_white
  }

  .plan-title {
    font-size: 1rem;
  }
}

.plan-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-sm-12 {
  margin-left: auto;
  margin-bottom: 30px;
}

#queryInput, #planInput {
  height: 150px;
}

div.modal-content {
  background-color: $yugabyte_dark;
  color: $yugabyte_white;
}