{% set asset='common' %}

{% extends "layout.html" %}

{% block title %}
About |
{% endblock %}

{% block body %}
<main role="main" class="flex-grow-1 overflow-auto">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<div class="container mt-2">
  <div class="row">
    <div class="col-sm-12">
      <h2>
        <img src="{{ url_for('static', filename='img/yugabyte-logos.svg') }}" alt="Logo PEV2" width="40px;">
        <a href="{{ url_for('index') }}" style="color: aliceblue;">yugabyteDB</a>
        <small class="text-muted ml-4">
          Yugabyte YSQL execution plan visualizer
        </small>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>
        About
      </h2>
      <p>
        This service lets you analyze, visualize and share <a href="http://www.postgresql.org/docs/current/static/sql-explain.html">YSQL Query Plans</a>. It will compute and highlight the most important information to make them easier to understand.
      </p>
      <p>
        It is brought to you by <a href="https://yugabyte.com" class="font-weight-bold">Yugabyte Support Team</a>.
      </p>
      <br>
      <h3>
        Acknowledgements
      </h3>
      <P>
        This app is clone of <a href="https://explain.dalibo.com">explain.dalibo.com</a>
      </P>
      <br>
      <h3 id="retention">
        Data retention policy
      </h3>
      <p>
        The plans you send are stored in the internal postgresql database deployed GCP instance. This allows you to easily share a link to anyone.
      </p>
      <p>
        <b>It is recommended not to send any critical or sensitive information.</b>
      </p>
      <p>
        Plans are meant to be stored <i>permanently</i> (with no waranty) unless you delete them yourself.
      </p>
      <p>
        You can delete the saved plans using the list shown in the home page. Make sure you're using the same browser.
      </p>
      
    </div>
  </div>
</div>
</main>
{% include 'footer.html' %}
<script>
const staticUrl = "{{ url_for('static', filename='') }}";
</script>
{% endblock %}