{% set asset='common' %}

{% extends "layout.html" %}

{% block title %}
Help |
{% endblock %}

{% block body %}
<main role="main" class="flex-grow-1 overflow-auto">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<div class="container mt-2">
  <div class="row">
    <div class="col-sm-12">
      <h2>
        <img src="{{ url_for('static', filename='img/yugabyte-logos.svg') }}" alt="Logo PEV2" width="40px;">
        <a href="{{ url_for('index') }}" style="color: aliceblue;">yugabyteDB</a>
        <small class="text-muted ml-4">
          Yugabyte YSQL execution plan visualizer
        </small>
      </h2>
    </div>
  </div>
  <h3>
    Usage tips
  </h3>
  <h4>
    Format
  </h4>
  <p>
    To get the most out of it, we recommend generating a query plan using the following line: <code>EXPLAIN (ANALYZE, DIST, COSTS, VERBOSE, BUFFERS, FORMAT JSON)</code>. It is recommend submitting a (decently formatted) SQL query that generated the plan.
  </p>
  <p>
    This tool <b>can also parse text</b> although the JSON format usually has better support.
  </p>
  <br>
  <h4>
    Sharing
  </h4>
  <p>
    You can share the link to the plan you just submitted. It will be stored in the database and will be available for anyone to whom you share the link. This can shared over email, slack, or update on Zendesk or JIRA tickets.
  </p>
  <br>
  <h4>
    Naming conventions
  </h4>
  <p>
    By default, the plan will be named after timestamp of the submission. But you can also give it a name. This can be useful if you want to keep track of the plans you have submitted. You can prefix the name with a Zendesk or JIRA ticket number or your name and followed by a identifier for the query.
  </p>
  <br>
  <h4>
    Tips and tricks
  </h4>
  <li>
    Though running <code>EXPLAIN ANALYZE</code> gives you the most accurate plan, It actually runs the query and in case of DML queries, it will actually modify the data. So you can run DML queries within a transaction block and rollback the transaction to avoid modifying the data. For example:
    <pre><code class="sql">BEGIN;
EXPLAIN ANALYZE INSERT INTO t VALUES (1);
ROLLBACK;</code></pre>
  </li>
  <h4>
    Feedback and suggestions
  </h4>
  <p>
    If you have any feedback or suggestions, please feel free to reach out to us Slack at #yb-support-tools
  </p>
</div>
</main>
{% include 'footer.html' %}
<script>
const staticUrl = "{{ url_for('static', filename='') }}";
</script>
{% endblock %}